[Unit]
Description=MicroPanel OLED Menu System
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c '/home/pi/micropanel/build/micropanel -a -c /home/pi/micropanel/screens/nested-persist-pi.json >/tmp/micropanel.log 2>&1'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
